<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxiaoxiao.user.mapper.PermissionMapper">
    <resultMap id="permissionMap" type="com.chengxiaoxiao.model.user.entity.Permission">
        <result property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="permissionValue" column="permission_value"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="icon" column="icon"/>
        <result property="status" column="status"/>
        <result property="deleteStatus" column="delete_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        p.id,p.pid,p.name,p.type,p.permission_value,path,p.component,p.icon,p.status,p.delete_status,p.create_time,p.update_time
    </sql>

    <select id="selectPermissionByUserId" resultMap="permissionMap">
        select
        <include refid="columns" />
        from user_role ur
        inner join role_permission rp on rp.role_id = ur.role_id
        inner join permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
        and ur.delete_status = 0
        and rp.delete_status = 0
        and p.delete_status = 0
    </select>

    <select id="selectPermissionValueByUserId" resultType="String">
    	select
        p.permission_value
        from user_role ur
        inner join role_permission rp on rp.role_id = ur.role_id
        inner join permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
        and p.type = 2
        and ur.delete_status = 0
        and rp.delete_status = 0
        and p.delete_status = 0
    </select>

    <select id="selectAllPermissionValue" resultType="String">
        select
        permission_value
        from permission
        where type = 2
        and delete_status = 0
    </select>
</mapper>
